<div class="cdx-card-3 cdx-pt-40 cdx-pb-40">
    <div class="cdx-card-content">
        <h2 class="cdx-text-60 cdx-fw-500 cdx-font-beatrice cdx-color-dark cdx-mb-40"><a href="service-details.html">@@h</a></h2>
        <p class="cdx-mb-60 cdx-text-18 cdx-fw-500 cdx-font-instrument cdx-color-dark-7">
            From concept to completion, we collaborate closely with our clients to brig their vision to life. Our team specializes in crafting bespoke
            solutions wher it’s designing modern residences, dynamic.
        </p>
        <a href="service-details.html" class="cdx-badge-1 hover-dark">
            <span class="cdx-text cdx-font-instrument">View Service Details</span>
            <img class="cdx-arrow-icon rotated" src="assets/images/icons/arrow-down.webp" alt="arrow" />
        </a>
    </div>
    <div class="cdx-card-image">
        <a href="service-details.html"><img class="cdx-thumb" src="assets/images/card-3/blog-@@i.webp" alt="image" /></a>
    </div>
</div>