<div class="cdx-card-5">
    <div class="cdx-thumb-wrap">
        <img src="assets/images/team/team-@@i.webp" alt="image" class="cdx-thumb" />
    </div>
    <div class="cdx-card-body">
        <div class="cdx-card-content">
            <h2 class="cdx-card-title">Desmond Eagle</h2>
            <p class="cdx-card-sub-text">Site Engineer</p>
            <p class="cdx-card-description">From concept to completion, we colorate closely with our clients to.</p>
        </div>
        <div class="cdx-card-social-wrap cdx-mb-120">
            <div class="cdx-social-items-1">
                <a href="#" class="cdx-social-item-1 active">
                    <span class="cdx-icon">
                        <iconify-icon icon="fa-brands:facebook-f"></iconify-icon>
                    </span>
                    <span class="cdx-text">Facebook</span>
                </a>
            </div>
        </div>
        <div class="cdx-card-link">
            <a class="cdx-icon" href="team-details.html">
                <iconify-icon icon="quill:arrow-right"></iconify-icon>
            </a>
        </div>
    </div>
</div>