<div class="cdx-card-2">
    <div class="cdx-starts">
        <span class="cdx-icon">
            <iconify-icon icon="flowbite:star-solid"></iconify-icon>
        </span>
        <span class="cdx-icon">
            <iconify-icon icon="flowbite:star-solid"></iconify-icon>
        </span>
        <span class="cdx-icon">
            <iconify-icon icon="flowbite:star-solid"></iconify-icon>
        </span>
        <span class="cdx-icon">
            <iconify-icon icon="flowbite:star-solid"></iconify-icon>
        </span>
        <span class="cdx-icon">
            <iconify-icon icon="flowbite:star-solid"></iconify-icon>
        </span>
    </div>
    <p class="cdx-card-desc">
        “We specialize in delivering innovative and reliabe on conation solutions. With years of expertise wprovide end to end services for
        residential, commercial, and industrial projts Our commitment to qual.”
    </p>
    <div class="cdx-author-wrap">
        <div class="cdx-author-thumb">
            <img class="cdx-thumb" src="assets/images/card-2/author.webp" alt="image" />
            <div class="cdx-quote-icon">
                <img src="assets/images/card-2/quote.webp" alt="icon" />
            </div>
        </div>
        <div class="cdx-author-info">
            <h3 class="cdx-author-name">Desmond Eagle</h3>
            <p class="cdx-author-position">Site Engineer</p>
        </div>
    </div>
</div>