<article class="cdx-blog-2">
    <div class="cdx-card-content">
        <div class="cdx-blog-meta">
            <a href="blog-details.html" class="cdx-blog-meta-item">Building Trends</a>
            <a href="blog-details.html" class="cdx-blog-meta-item">April 06, 2025</a>
        </div>
        <h2>
            <a class="cdx-blog-title" href="blog-details.html">@@h</a>
        </h2>
    </div>
    <div class="cdx-card-thumbnail">
        <div class="cdx-card-wrap">
            <a class="cdx-card-link" href="blog-details.html">
                <img class="cdx-thumb w-100" src="assets/images/blog-2/blog-@@i.webp" alt="image" />
            </a>
        </div>
    </div>
</article>