<article class="cdx-blog-2">
    <div class="cdx-card-thumbnail">
        <div class="cdx-card-wrap">
            <a class="cdx-card-link" href="blog-details.html">
                <img class="cdx-thumb w-100" src="assets/images/blog-2/blog-@@i.webp" alt="image" />
            </a>
        </div>
        <div class="cdx-blog-calender">
            <span class="cdx-date">26</span>
            <span class="cdx-month">May, 25</span>
        </div>
        <a href="blog-details.html" class="cdx-blog-category">Construction Tech</a>
    </div>
    <div class="cdx-card-content">
        <h2>
            <a class="cdx-blog-title" href="blog-details.html">@@h</a>
        </h2>
        <p class="cdx-blog-desc">From concept to completion, we collaborate clos with our clients to Bring their.</p>
    </div>
</article>