<section class="cdx-blog-area">
    <div class="container-xxxl">
        <div class="cdx-blog-cards">
            <div class="cdx-blog-left">
                <div class="cdx-blog-img">
                    <div class="cdx-blog-img-item">
                        <img src="assets/images/blog-1/blog-1.webp" alt="Classic Interior Design" />
                    </div>
                    <div class="cdx-blog-img-item">
                        <img src="assets/images/blog-1/blog-2.webp" alt="Classic Interior Design" />
                    </div>
                    <div class="cdx-blog-img-item">
                        <img src="assets/images/blog-1/blog-1.webp" alt="Classic Interior Design" />
                    </div>
                    <div class="cdx-blog-img-item">
                        <img src="assets/images/blog-1/blog-2.webp" alt="Classic Interior Design" />
                    </div>
                </div>
            </div>
            <div class="cdx-blog-right">
                <div class="cdx-blog-lists">
                    <div class="cdx-blog-item-1">
                        <span class="cdx-badge-2">April 06, 2025</span>
                        <div class="cdx-blog-title-wrap">
                            <h3>
                                <a class="cdx-blog-tile" href="#">Classic Interior Design Makes a Comeback.</a>
                            </h3>
                        </div>
                        <a href="#" class="cdx-blog-arrow">
                            <span class="cdx-icon">
                                <iconify-icon icon="f7:arrow-up"></iconify-icon>
                            </span>
                        </a>
                    </div>
                    <div class="cdx-blog-item-1">
                        <span class="cdx-badge-2">May 22, 2025</span>
                        <div class="cdx-blog-title-wrap">
                            <h3>
                                <a class="cdx-blog-tile" href="#">The Rise of Classic Interior Aesthetics.</a>
                            </h3>
                        </div>
                        <a href="#" class="cdx-blog-arrow">
                            <span class="cdx-icon">
                                <iconify-icon icon="f7:arrow-up"></iconify-icon>
                            </span>
                        </a>
                    </div>
                    <div class="cdx-blog-item-1">
                        <span class="cdx-badge-2">June 12, 2025</span>
                        <div class="cdx-blog-title-wrap">
                            <h3>
                                <a class="cdx-blog-tile" href="#">How Classic Interiors Inspire Modern Design.</a>
                            </h3>
                        </div>
                        <a href="#" class="cdx-blog-arrow">
                            <span class="cdx-icon">
                                <iconify-icon icon="f7:arrow-up"></iconify-icon>
                            </span>
                        </a>
                    </div>
                    <div class="cdx-blog-item-1">
                        <span class="cdx-badge-2">July 26, 2025</span>
                        <div class="cdx-blog-title-wrap">
                            <h3>
                                <a class="cdx-blog-tile" href="#">The Enduring Appeal of Classic Interior Design.</a>
                            </h3>
                        </div>
                        <a href="#" class="cdx-blog-arrow">
                            <span class="cdx-icon">
                                <iconify-icon icon="f7:arrow-up"></iconify-icon>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>