<div class="cdx-testimonial-item-2">
    <div class="cdx-mb-70">
        <h2 class="cdx-text-30 cdx-color-dark cdx-font-instrument cdx-fw-500 cdx-mb-50">@@t</h2>
        <p class="cdx-text-18 cdx-color-dark-7 cdx-fw-500 cdx-font-instrument">
            “We specialize in delivering innovative and reliabe on conation solutions. With years of expertise wprovide end to end services for
            residential, commercial, and industrial projts Our commitment to qual.”
        </p>
    </div>
    <div class="cdx-author-wrap justify-content-center large">
        <div class="cdx-thumb-wrap">
            <img class="cdx-thumb" src="assets/images/service-details/user-1.webp" alt="image" />
            <div class="cdx-quote-icon">
                <img src="assets/images/card-2/quote.webp" alt="icon" />
            </div>
        </div>
        <div class="cdx-author-info">
            <h3 class="cdx-text-20 cdx-color-dark cdx-font-instrument cdx-mb-10">Desmond Eagle</h3>
            <p class="cdx-text-16 cdx-color-dark-7 cdx-font-instrument">Site Engineer</p>
        </div>
    </div>
</div>