<section class="cdx-testimonial-area-1 cdx-pt-160 cdx-mb-140">
    <div class="container-xxxl">
        <div class="cdx-testimonial-slider-1">
            <div class="swiper testimonial-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cdx-testimonial-1">
                            <div class="cdx-slider-image">
                                <img class="cdx-thumb" src="assets/images/card-2/card-1.webp" alt="image" />
                            </div>
                            @@include('../card/_card-2.html')
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cdx-testimonial-1">
                            <div class="cdx-slider-image">
                                <img class="cdx-thumb" src="assets/images/card-2/card-1.webp" alt="image" />
                            </div>
                            @@include('../card/_card-2.html')
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cdx-testimonial-1">
                            <div class="cdx-slider-image">
                                <img class="cdx-thumb" src="assets/images/card-2/card-1.webp" alt="image" />
                            </div>
                            @@include('../card/_card-2.html')
                        </div>
                    </div>
                </div>
                <div class="cdx-navigation">
                    <div class="cdx-navigation-btn swiper-button-next reverse">
                        <iconify-icon icon="uiw:arrow-left"></iconify-icon>
                    </div>
                    <div class="cdx-navigation-btn swiper-button-prev">
                        <iconify-icon icon="uiw:arrow-left"></iconify-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>