.cdx-testimonial-slider-2 {
    position: relative;
    max-width: 1070px;
    margin: 0 auto;
}

.testimonial-slider-area-2 {
    position: relative;
    max-width: 1580px;
    margin: 0 auto;
}
.cdx-testimonial-item-2 {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;

    @media #{$md} {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.cdx-navigation-2 {
    .swiper-button-prev {
        &::after {
            display: none;
        }
    }
    .swiper-button-next {
        &::after {
            display: none;
        }
    }
    .reverse {
        rotate: 180deg;
    }
}
