<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta
            name="description"
            content="Domio is a modern, responsive HTML template perfect for AI startups and tech businesses. It offers customizable sections, clean code, and a sleek design to help showcase your innovative solutions online."
        />
        <meta name="author" content="Codexshaper LLC" />
        <title>Domio - Law Firm HTML Template</title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
        <!-- Icon -->
       <script src="assets/js/vendor/iconify-icon.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/vendor/magnific.css" />
        <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css" />
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/main.min.css" />
    </head>
    <body class="@@bodyClass">
        <!--==================== Preloader Start ====================-->
        <div id="loader-wrapper">
            <div class="spinner"></div>
        </div>
        <!--==================== Preloader End ====================-->